$mobile: 2rem 1.6rem;
$tablet: 2rem 5rem;
$laptop: 2rem 10rem;
$desktop: 2rem 8.5%;

// fonts
$semi-normal: 500;
$normal: 400;
$light: 300;
$thin: 200;
$heavy: 800;

$colors: (
  hue-1: #575c55,
  hue-2: #b5b5a9,
  hue-3: #ab9685,
  hue-4: #9ea4ac,

  bright-hue-1: #ffaebc,
  bright-hue-2: #fdb750,
  bright-hue-3: #3e943e,
  bright-hue-4: #ecf87f,
);
